.values {
  margin-top: 12rem;
}

.values h2 {
  text-align: center;
}

.values__flex {
  margin-top: 10.3rem;
  column-gap: 3rem;
  row-gap: 5.5rem;
  flex-wrap: wrap;
}

.value {
  flex-direction: column;
  row-gap: 8.7rem;
  flex: 1 1 150px;
}

.value__image {
  width: 24rem;
  height: 24rem;
  border-radius: 50%;
  position: relative;
}

.value__image img {
  border-radius: 50%;
}

.value__count {
  position: absolute;
  left: 7.2rem;
  top: 19.9rem;
  padding: 3.4rem;
  background-color: var(--color-yellow);
  border-radius: 50%;
  justify-content: center;
  font-family: var(--secondary-font);
}

.value__content {
  text-align: center;
  flex-direction: column;
  row-gap: 2.7rem;
  max-width: 45.7rem;
}

.faqs {
  margin-top: 12rem;
  flex-direction: column;
  row-gap: 6.4rem;
}

.faqs__part {
  display: flex;
  justify-content: space-between;
  column-gap: 9rem;
  row-gap: 3.2rem;
}

.faqs__accordions {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
}

.accordion {
  background-color: var(--color-snow);
  max-width: 73rem;
  height: 92px;
  color: var(--color-main);
  padding: 3.2rem 4rem;
  overflow: hidden;
  cursor: pointer;
}

.accordion__top {
  justify-content: space-between;
}

.accordion__top > i {
  color: var(--color-yellow);
  font-size: 1.6rem;
}

.accordion__content {
  margin-top: 2.5rem;
  text-align: left;
}

@media (max-width: 768px) {
  .faqs__part {
    flex-direction: column;
    text-align: center;
  }
}
